<div>
<% if user_signed_in? %>
<% @users.each do |u| %>
      <%= render 'user', :user => u %>
<% end %>
<% else %>
<div class = "w-50" style = "margin-left: 25%">
<h1>Welcome to My Blog Application!</h1>
<p>This Application can help you to create your own blog and post user can comment and like your blog posts.
 </p>
<%= link_to 'Sign in', new_user_session_path, style:"text-decoration: none; color: black", class: "btn btn-info" %>
</div>
<% end %>
</div>