<div>
  <%= render 'users/user', :user => @user %>
  <% @users = User.all %>
<% @posts.each do |p| %>
<% @comments = p.recent_comments %>
<% if p.author_id === @user.id %>
  <%= render 'post', :post => p %>
  <%= render 'comment', :user => @users, :comment => @comments, :post => p %>
<% end %>
<% end %>
<div class = "d-flex flex-row mx-auto " style= "width: 320px; justify-content: space-between">
<%= link_to "See all posts", user_posts_path(@user.id), 
class: "list-group-item list-group-item-action list-group-item-success", 
style: "width: 150px;" %>
</div>
</div>
